<div class="content-wrap">

    <div class="row">
  
      <div class="col-xs-2">
  
      </div>
  
      <div class="col-xs-3 col-md-5">
        
        <div class="content">
            <h3 class="title">Adeptmind</h3>
          
          
            <h4 class="title">July 2018 - Aug 2018, July 2019 - Aug 2019</h4>

            <p class="excerpt">Software Engineer Intern</p>
          

            <a href="https://adeptmind.ai" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-shopping-bag fa-lg"></i>Visit Website</button></a>

          </div>

      </div>
  
      <div class="col-xs-3 col-md-3">
        <img class="img-responsive" src="/img/posts/adeptmind.png" title="Adeptmind">
      </div>
  
    </div>
  
  </div>
  