<div class="content-wrap">

    <div class="row">
  
      <div class="col-xs-2">
  
      </div>
  
      <div class="col-xs-3 col-md-5">
        
        <div class="content">
            <h3 class="title">Georgian</h3>
          
          
            <h4 class="title">June 2020 - Aug 2020</h4>

            <p class="excerpt">Backend Software Engineer Intern</p>
          

            <a href="https://georgian.io/" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-tint fa-lg"></i>Visit Website</button></a>

          </div>

      </div>
  
      <div class="col-xs-3 col-md-3">
        <img class="img-responsive" src="/img/posts/georgian.jfif" title="Georgian">
      </div>
  
    </div>
  
  </div>
  