<div class="content-wrap">

    <div class="row">
  
      <div class="col-xs-2">
  
      </div>
  
      <div class="col-xs-3 col-md-5">
        
        <div class="content">
            <h3 class="title">Riot Games</h3>
          
          
            <h4 class="title">May 2021 - Sept 2021</h4>

            <p class="excerpt">Incoming Software Engineer Intern</p>
          

            <a href="https://www.riotgames.com/en" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-gamepad fa-lg"></i>Visit Website</button></a>

          </div>

      </div>
  
      <div class="col-xs-3 col-md-3">
        <img class="img-responsive" src="/img/posts/riotgames.jfif" title="Riot Games">
      </div>
  
    </div>
  
  </div>
  