<div class="content-wrap">

    <div class="row">
  
      <div class="col-xs-2">
  
      </div>
  
      <div class="col-xs-3 col-md-5">
        
        <div class="content">
            <h3 class="title">Snap Inc.</h3>
          
          
            <h4 class="title">Sept 2021 - Dec 2021</h4>

            <p class="excerpt">Incoming Software Engineer Intern</p>
          

            <a href="https://research.snap.com/" class="project-link"><button class="btn btn-default btn-lg"><i class="fa fa-ghost fa-lg"></i>Visit Website</button></a>

          </div>

      </div>
  
      <div class="col-xs-3 col-md-3">
        <img class="img-responsive" src="/img/posts/snap.png" title="Snap Inc.">
      </div>
  
    </div>
  
  </div>
  